.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    // background-color: rgb(76, 41, 97);
    background-color:#1e1d1f;
    transition: all .4s;
    padding: 10px;
    z-index: 10000000;
    &.opened {
        width: 300px;
    } 
}

.toggle {
    background-color: rgb(144, 118, 163);
    position: absolute;
    top: 35px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.arrow {
    fill: rgba(255, 255, 255, 1);
    width: 30px;
    height: 30px;
    transition: all .4s;
    &.opened {
        transform: rotateZ(180deg);
    }
}

.line {
    width: 100%;
    background-color: rgb(144, 118, 163);
    height: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
    &_bottom {
        margin-top: 30px;
    }
}



.categories {
    color: #fff;
    font-weight: bold;
    animation: fadeIn 2s;
    list-style: none;
    overflow: auto;
    overflow-x: hidden;
    max-height: 405px;
    &::-webkit-scrollbar {
        width: 0;
    }
    &_header {
        text-align: center;
        color: #fff;
        font-size: 30px;
        margin-bottom: 20px;
        animation: fadeIn 2s;
        width: 100%;
    }
    &_item {
        position: relative;
        transition: all .5s;
        font-weight: normal;
        font-size: 25px;
        margin-bottom: 10px;
        text-decoration: none;
        color: #fff;
        margin-left: 40px;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            left: -30px;
            top: 9px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            border: 1px solid #fff;
        }
        &_wrapper {
            text-decoration: none;
        }
        &:hover {
            background-color: rgb(118, 91, 138);
            &:before {
                background-color: #fff;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-device-width: 768px){
    .sidebar {
        width: 0px;
        padding: 0px;
    }
    .toggle {
        right: -25px;
        top: 25px;
        background-color: transparent;
    }
    .arrow {
        width: 45px;
        height: 45px;
    }
}

